{% extends 'base.html.twig' %}
{% block body %}

    <h1>kategorie</h1>
    <a href="{{ path('category_create') }}"/>dodaj kategorie </a>
    <table>
        <tr>
            <td><h3>ID</h3></td>
            <td><h3>Nazwa</h3></td>

            <td></td>
            <td></td>

        </tr>
        {% for value in category %}
        <tr>
            <td>{{ value.id }}</td>
            <td>{{ value.name }}</td>



            <td><a href="{{ path('editCategory', {'id':value.id}) }}">edytuj</a> </td>
            <td><a href="{{ path('deleteCategory', {'id':value.id}) }}">usun</a> </td>
        </tr>
        {% else %}
        <tr>braklo kategori</tr>
        {% endfor %}
    </table>

{% endblock %}